/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online/Side Navigation/ */

:root
{
	--Darkest: #000000;
	--Lightest: #FFFFFF;
	--FontFamily: Arial, Avenir, Myriad;
	--Primary: #ee3124;
	--Secondary: #d4d4d4;
	--Light: #d4d4d4;
	--Medium: #808080;
	--Dark: #707070;
	--HeroImage: url('../Images/1653554198071');
	--LogoImage: url('../Images/Logo.png');
}

